{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not recipe %}
    <h2 class="py-2">{{ title }}</h2>
    {% else %}
    <h2 class="py-2">{{ recipe.title }}</h2>
    {% endif %}
    <form method="POST" class="post-form mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary">Save</button>
        {% if recipe %}
        <a href="/recipe/{{ recipe.id }}/delete/"><button class="btn btn-danger">Delete Recipe</button></a>
        {% endif %}
    </form>
    
{% endblock %}