{% extends "base.html" %}
{% block content %}

<h1 class="py-2">Welcome!</h1>
<p class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu accumsan risus. Quisque at fringilla ante, eu luctus elit. Quisque tristique orci nec lacus finibus, nec lacinia metus vulputate. Ut velit diam, volutpat sit amet erat sed, fringilla laoreet felis. Ut in iaculis arcu. Praesent bibendum tincidunt consectetur. Cras blandit interdum est. Pellentesque eget metus metus. Vivamus eu hendrerit dolor, venenatis dictum tellus. Donec cursus nisl magna, at imperdiet nibh blandit vitae.</p>
<h1 class="py-2">Recent Recipes</h1>
{% include 'recipes/recipe_list.html' %}
{% endblock %}