{% extends "base.html" %}
{% block content %}

<h2 class="pt-3">Welcome!</h2>
<p class="py-2">This site is created as a personal project to store and manage recipes that my wife and I like. I got tired of using ad-riddled sites and keeping track of recipes across multiple platforms. There are admittedly countless other services that can be used to manage recipes but I wanted to build something myself from scratch that I knew only had the features I cared about and just worked.</p>

<p>If you have sumbled across this page, feel free to use any of the recorded recipes to your liking. Alternatively, if you would prefer to spin up your own instance of the application for your own self-hosted purposes, please feel free to do so. This project can be found via my <a href="https://github.com/sbeckstrand/recipe_app">recipe_app Github repository</a>.</p>

<p>If you have any feedback regarding this application, please feel free to add an issue via the github repository. Thank you!</p>

<h2 class="pt-2">Recent Recipes</h2>
{% include 'recipes/recipe_list.html' %}

{% endblock %}